/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header {
    padding: 0 15px !important;
  }
  /* navbar starts here  */
  .navbar_c {
    padding: 20px 0;
  }
  .nav_bar {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .nav_link_c {
    border-bottom: 1px solid transparent;
    padding: 10px 0;
    margin: 0;
  }
  .fa-bars {
    color: var(--bg-light);
  }
  .bg_dark {
    background-color: var(--bg-dark);
  }
  /* navbar ends here */
  /* banner starts here */
  #banner {
  }
  .banner_box {
    background-color: var(--bg-overlay);
    margin: 100px 0;
    padding: 75px 0;
  }
  .b_heading_one {
    font-size: 60px;
    line-height: 48px;
  }
  .b_heading_two {
    font-size: 36px;
    line-height: 48px;
  }
  .b_read_btn {
    font-size: 18px;
    padding: 15px 35px;
  }
  /* banner ends here  */
  /* traditional flavours starts here */
  #flavours {
    padding: 25px 0;
  }
  .f_content {
    padding: 0;
    margin-top: 25px;
    padding-right: 25px;
  }
  .f_heading {
    font-size: 24px;
  }
  .f_text {
    padding: 15px 0;
    margin-top: 10px;
  }
  .f_img {
    padding: 25px 0;
  }
  /* traditional flavours starts here */
  /* items starts here */
  #items {
    padding: 40px 0;
  }
  /* items ends here  */
  /* plate starts here */
  #plate .bg_light {
    border: 2px solid transparent;
    border-radius: 5px;
  }
  .p_heading_one {
    font-size: 72px;
    line-height: 60px;
  }
  .p_heading_two {
    font-size: 36px;
    line-height: 48px;
  }
  .p_text_box {
    min-height: 150px;
    font-size: 18px;
    padding: 25px 40px;
  }
  /* plate ends here  */
  /* cuisine starts here */
  #cuisine {
    background-color: var(--bg-light);
    padding: 25px 0;
  }
  .c_circle_div {
    margin-top: 20px;
  }
  .c_nav_item {
    margin-top: 30px;
  }
  .c_link {
    font-size: 18px;
    margin: 0px 10px;
  }
  /* cuisine ends here  */
  /* discover menu starts here */
  #discover_menu {
    background-image: url(../images/discover-01.jpg);
    background-size: cover;
    padding: 50px 0;
  }
  .discover_inner {
    background-color: var(--bg-overlay);
    padding: 25px 0;
  }
  .d_menu_heading_one {
    font-size: 72px;
    line-height: 60px;
  }
  .d_menu_heading_two {
    font-size: 36px;
    line-height: 48px;
  }
  .d_menu_items {
    margin: 20px 0;
  }
  .d_circle {
    background-color: var(--bg-light);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 15px;
  }
  .d_menu_content {
    font-family: var(--raleway-regular);
    padding-right: 20px;
  }
  .d_menu_head {
    font-family: var(--raleway-bold);
    font-size: 18px;
    line-height: 27px;
  }
  .d_menu_text {
    font-family: var(--raleway-regular);
    line-height: 24px;
  }
  .d_bold {
    font-family: var(--raleway-bold);
  }
  /* discover menu ends here */
  /* book starts here  */
  #book {
    padding: 50px 0;
  }
  /* book ends here  */
  /* discover menu cards starts */
  #d_menu_card {
    background-color: var(--bg-overlay);
    padding: 45px 0;
  }
  .d_card_heads {
    margin-bottom: 25px;
  }
  .c_card {
    margin-bottom: 20px;
  }
  /* discover menu cards ends */
  /* comment starts here  */
  #comment {
    background-color: var(--bg-dark);
    padding: 30px 0;
  }
  .comment_text {
    margin: 25px 0;
    line-height: 28px;
  }
  /* comment starts here  */
  /* footer starts here */
  #footer {
    background-color: var(--bg-overlay);
    padding: 15px 0;
    font-family: var(--raleway-regular);
    color: #4f4e4e;
  }
  .footer_box {
    margin: 15px 0;
  }
  .footer_heading {
    font-size: 24px;
    font-family: var(--raleway-bold);
    margin-bottom: 10px;
  }
  .footer_content {
    line-height: 24px;
    margin-bottom: 5px;
  }
  /* footer ends here */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* navbar starts here  */
  .navbar_c {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .nav_bar {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .nav_link_c {
    border-bottom: 1px solid transparent;
    padding: 15px 0;
    font-size: 24px;
    margin: 0;
  }
  .fa-bars {
    color: var(--bg-light);
  }
  .bg_dark{
    background-color: var(--bg-dark) ;
    }
  /* navbar ends here  */
  /* banner starts here */
  .b_heading_one {
    font-size: 72px;
    line-height: 56px;
  }
  .b_heading_two {
    font-size: 60px;
    line-height: 52px;
  }
  .b_read_btn {
    font-size: 24px;
    padding: 15px 35px;
  }
  /* banner ends here  */
  /* traditional flavours starts here */
  .f_content {
    padding: 30px 0;
  }
  .f_text {
    margin-top: 20px;
  }
  .f_img {
    padding: 0;
    margin-bottom: 30px;
  }
  /* traditional flavours ends here */
  /* item start here */
  #items {
    padding: 40px 0;
  }
  /* item ends here */
  /* plate starts here */
  #plate .bg_light {
    border-radius: 5px;
  }
  .p_heading_one {
    font-size: 72px;
    line-height: 50px;
  }
  .p_heading_two {
    padding-top: 10px;
    font-size: 48px;
    line-height: 36px;
  }
  .p_text_box {
    min-height: 150px;
    font-size: 18px;
    padding: 25px 40px;
  }
  /* plate ends here */
  /* cuisine starts here  */
  #cuisine {
    background-color: var(--bg-light);
    padding: 25px 0;
  }
  .c_circle_div {
    margin-top: 20px;
  }
  .c_nav_links {
    margin-top: 30px;
  }
  .c_link {
    font-size: 18px;
    margin: 0px 10px;
  }
  /* cuisine ends here  */
  /* discover menu starts here */
  #discover_menu {
    background-image: url(../images/discover-01.jpg);
    background-size: cover;
    padding: 100px 0;
  }
  .discover_inner {
    background-color: var(--bg-overlay);
    padding: 35px 0;
  }
  .d_menu_heading_one {
    font-size: 60px;
    line-height: 48px;
  }
  .d_menu_heading_two {
    font-size: 42px;
    line-height: 36px;
  }
  .d_menu_items {
    margin: 20px 0;
  }
  .d_circle {
    background-color: var(--bg-light);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 15px;
  }
  .d_menu_content {
    font-family: var(--raleway-regular);
    padding-right: 15px;
  }
  .d_menu_head {
    font-family: var(--raleway-bold);
    font-size: 18px;
    line-height: 27px;
  }
  .d_menu_text {
    font-family: var(--raleway-regular);
    line-height: 24px;
  }
  .d_bold {
    font-family: var(--raleway-bold);
  }
  /* discover menu ends here */
  /* book starts here  */
  #book {
    padding: 50px 0;
  }
  /* book ends here  */
  /* d_menu_card starts here*/
  #d_menu_card {
    background-color: var(--bg-overlay);
    padding: 45px 0;
  }
  .c_card {
    margin-bottom: 20px;
  }
  /* d_menu_card ends here */
  /* footer starts here */
  #footer {
    background-color: var(--bg-overlay);
    padding: 30px 0;
    font-family: var(--raleway-regular);
    color: #4f4e4e;
  }
  .footer_box {
    margin: 20px 0;
  }
  .footer_heading {
    font-size: 24px;
    font-family: var(--raleway-bold);
    margin-bottom: 20px;
  }
  .footer_content {
    line-height: 24px;
  }
  /* footer ends here */
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* navbar starts here  */
  .navbar_c {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .nav_bar {
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 5px;
  }
  .nav_link_c {
    border-bottom: 1px solid transparent;
    padding: 10px 0;
    font-size: 24px;
    margin: 0;
  }
  .fa-bars {
    color: var(--bg-light);
  }
    .bg_dark{
        background-color: var(--bg-dark);
    }
  /* navbar ends here  */
  /* banner starts here  */
  .banner_box {
    padding: 75px 25px;
  }
  .b_heading_one {
    font-family: var(--cookie-regular);
    color: var(--heading-two);
    line-height: 72px;
    font-size: 90px;
  }

  .b_heading_two {
    font-family: var(--raleway-semibold);
    color: var(--heading-one);
    line-height: 68px;
    font-size: 60px;
    margin-bottom: 35px;
  }
  /* banner ends here  */
  /* tradional flavours starts here */
  #flavours {
    padding: 50px 0;
  }
  .f_content {
    padding: 10px 0;
  }
  .f_img {
    padding: 0;
  }
  .f_heading {
    font-size: 24px;
  }
  /* tradional flavours starts here */
  /* item starts here  */
  #items {
    padding: 40px 0;
  }
  .items_content {
    padding-right: 10px;
  }
  /* item starts here  */
  /* plate starts here */
  #plate {
  }
  .p_heading_one {
    padding-top: 0px;
    font-size: 60px;
    line-height: 42px;
  }
  .p_heading_two {
    font-size: 42px;
    line-height: 36px;
  }
  .p_text_box {
    padding: 0 10px;
  }
  .p_text_heading {
    font-family: var(--raleway-bold);
    font-size: 16px;
    color: var(--bg-dark);
  }
  .p_text {
    font-family: var(--raleway-regular);
    font-size: 14px;
    line-height: 16px;
  }
  /* plate ends here  */
  /* cuisine starts here */
  #cuisine {
    padding: 25px 0;
  }
  .c_circle_div {
    margin-top: 30px;
  }
  .c_nav_links {
    margin-top: 30px;
  }
  .c_link {
    font-size: 18px;
    margin: 0px 10px;
  }
  /* cuisine ends here */
  /* discover menu starts here */
  #discover_menu {
    background-image: url(../images/discover-01.jpg);
    background-size: cover;
    padding: 100px 0;
  }
  .discover_inner {
    background-color: var(--bg-overlay);
    padding: 35px 0;
  }
  .d_menu_heading_one {
    font-size: 60px;
    line-height: 48px;
  }
  .d_menu_heading_two {
    font-size: 42px;
    line-height: 36px;
  }
  .d_menu_items {
    margin: 20px 0;
  }
  .d_circle {
    background-color: var(--bg-light);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto 15px;
  }
  .d_menu_content {
    font-family: var(--raleway-regular);
    padding-right: 0px;
  }
  .d_menu_head {
    font-family: var(--raleway-bold);
    font-size: 18px;
    line-height: 27px;
  }
  .d_menu_text {
    font-family: var(--raleway-regular);
    line-height: 24px;
  }
  .d_bold {
    font-family: var(--raleway-bold);
  }
  /* discover menu ends here */
  /* book starts here  */
  #book {
    padding: 50px 0;
  }
  .book_heading {
    color: var(--bg-light);
  }
  /* book ends here  */
  /* d_menu_card starts here */
  #d_menu_card {
    background-color: var(--bg-overlay);
    padding: 25px 0;
  }
  .c_card {
    margin-bottom: 20px;
  }
  /* d_menu_card ends */
  /* footer starts here */
  #footer {
    background-color: var(--bg-overlay);
    padding: 30px 0;
    font-family: var(--raleway-regular);
    color: #4f4e4e;
  }
  .footer_box {
    margin: 20px 0;
  }
  .footer_heading {
    font-size: 24px;
    font-family: var(--raleway-bold);
    margin-bottom: 20px;
  }
  .footer_content {
    line-height: 24px;
  }
  /* footer ends here */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* traditional flavours starts here */
  #flavours {
    padding: 35px 0;
  }
  .f_content {
    padding: 50px 0;
  }
  .f_img {
    padding: 0;
  }
  .f_heading {
    font-size: 24px;
  }
  /* traditional flavours ends here */
  /* footer starts here */
  #footer {
    background-color: var(--bg-overlay);
    padding: 30px 0;
    font-family: var(--raleway-regular);
    color: #4f4e4e;
  }
  .footer_box {
    margin: 20px 0;
  }
  .footer_heading {
    font-size: 24px;
    font-family: var(--raleway-bold);
    margin-bottom: 20px;
  }
  .footer_content {
    line-height: 24px;
  }
  /* footer ends here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
